* {
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------------------- APP ----------------------*/

.App {
  background-color: #ebebeb;
  max-width: 1530px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px black;
  overflow: hidden;

}

/*---------------------- HEADER ----------------------*/


header {
  background-color: #fee600;
  margin: -1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1530px;
  min-height: 100px;
  overflow: hidden;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px;  

}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  
  
}



ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0px 15px 0px 15px;
}

header .cart_icon {
  position: relative;
  cursor: pointer;
}

header .cart_icon box-icon {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: end;  
  
}

header .cart_icon span {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  font-size: bold;
}


@media only screen and (max-width: 600px){
  header ul {
    display: none;
  }
 
}
/*---------------------- INICIO ----------------------*/

.inicio {
  width: 100%;
  margin: 0 auto;

}

.inicio > img {
  width: 100%;
  
}


/*---------------------- PRODUCTS ----------------------*/

.title {
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 10rem 0 0 0;
  color: black;
}

.products {
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
  

}

.product {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;

}

.product:hover {
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .6);
}



.product_footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.product_footer > h3{
  font-weight: 600;
  font-size: 2.5vh;
  color: black;

}

.product_footer > p {
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  font-size: 2vh;
}

.product_footer > .price {
  font-size: 2rem;
  color: black;
}

.product .button {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
}

.button > .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}



.button > button {
  background-color: #13A6C2;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.button > button:hover {
  box-shadow: 3px 3px 10px black;
}

/*----------------------  CART ----------------------*/


.carts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}


.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  width: 80%;
  height: 80%;
  border-radius: 8px;
  overflow: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}

.cart_title > h3 {
  display: flex;
  justify-content: center;
  font-size: 4vh;
}

.cart_close {
  visibility: visible;
}

.carts.show {
  visibility: visible;
}

.cart.show {
  transform: translate(-50%, -50%)scale(1.1);
  opacity: 1;
  visibility: visible;
}

.cart_close box-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}

.cart_center {
  width: 90%;
  margin: 0 auto;
  

}

.cart_item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px black;
  border-radius: 5px;
  overflow: hidden;
}

.cart_item > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_item > div > h3 {
  font-size: 2vh;
  
}

.cart_item > div > .price {
  width: 100%;
  margin-top: 10px;
}

.cart_item img {
  width: 19vh;
  margin: 1vh;
  border-radius: 10px;
}

.cart_item > .remove_item {
  fill: rgb(214, 0, 0);
  cursor: pointer;
}


.cart_item > .selector > box-icon {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.637);
  
}

.cart_item > .selector > box-icon:hover {
  fill: rgb(0, 0, 0);
}

.cart_footer {
  text-align: center;
}

.cart_footer > h3 {
  font-size: 4vh;
}

.cart_footer > .btn {
  font-size: 2vh;
  padding: 10px;
  margin-top: 30px;
  

}

@media only screen and (max-width: 1000px){
  .cart_item{
    width: 90%;
  }
}

@media only screen and (max-width: 700px){
  .cart_item{
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  .cart_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 75%;
    height: 45vh;
    margin: 2rem auto;
    box-shadow: 0 1px 10px black;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
  }

  .cart.show {
    height: 80vh;
    
  }
}

